<%= form_tag(update_schedule_path(@task), :method => :put) do %>
  <% schedules.each do |schedule| %>
    <% Schedule::TIME_TERMS.times do |i| %>
      <%= select_tag "schedules[#{schedule.id}][time][#{i}][start_at]", options_for_select(select_time, :selected => schedule.time[i]&.start_at&.strftime("%H:%M")), :prompt => "-- : --" %>
      <%= select_tag "schedules[#{schedule.id}][time][#{i}][end_at]", options_for_select(select_time, :selected => schedule.time[i]&.end_at&.strftime("%H:%M")), :prompt => "-- : --" %>
    <% end %>
  <% end %>
  <div class="input-field col s12">
    <%= submit_tag "登録", :class => "waves-effect waves-light btn-large" %>
  </div>
<% end %>
