<div>
    <div class="chart">
    <img width="400" src='/images/activities/<%= "#{@user.id}_#{@the_day.strftime('%Y%m%d')}" %>.png'>
    <div>
    <% @activities.each do |time, activity| %>
      <div><%= time %></div>
      <div><%= activity.behavior if activity.present? %></div>
    <% end %>
    </div>
</div>
