<div id="login-form" class="row">
  <div class="col s4 offset-s4 center">
    <div id="login-form" class="row">
        <h4>合言葉を入力</h4>
        <%= @user.id == current_user.id %>

        <%= form_tag("", method: "get") do %>
          <%= text_field_tag(:keyword, [], :class => "center-align") %>
          <%= submit_tag("送信", :class => "waves-effect waves-light btn") %>
        <% end %>

    </div>
  </div>
</div>
