// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.project-detail-table {
    width: 600px;
    td {
        padding: 12px 24px;
        border: 1px #ddd solid;
        text-align: center;
        h5 {
            margin: 0;
            font-size: 100%;
        }
        span {
            font-size: 150%;
        }
    }
}

.project-detail-table-inner {
    th {
        width: 60px;
        padding-top: 10px;
    }
    td {
        padding-top: 10px;
        border: none;
    }
    .icon {
        width: 20px;
        padding: 0;
    }
}
